@import url(https://fonts.googleapis.com/css?family=Orbitron:700,900,500,400);
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  /*font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  /*background: #222222;*/
  color: #afeeee;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 100%;
  height: auto;
}
#app #time {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5em;
  text-shadow: 0px 2px 25px rgba(144, 244, 253, 0.6);
}
#app #time #ampm {
  font-size: .5em;
}
#app #days, #app #fullDate {
  width: 25%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#app .days {
  flex: 1;
  color: #fff;
  text-align: center;
}
#app .active {
  color: paleturquoise;
  text-shadow: 0px 2px 25px rgba(144, 244, 253, 0.6);
}
#app #fullDate {
  margin-top: .25em;
  text-shadow: 0px 2px 25px rgba(144, 244, 253, 0.6);
}
#app #sec {
  display: inline-block;
  width: 70px;
}
